* {
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  background-image: linear-gradient(rgb(197, 234, 249), rgb(255, 255, 255));
  height: 100vh;
  background-repeat: no-repeat;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  height: 92px;
  z-index: 10;
}

/* typography */

h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

.app-download-subtitle {
  font-size: 18px;
  line-height: 28px;
  color: #6b747b;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 30px;
}

/* navigation */

.main-nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.logo {
  width: 133px;
  max-width: 133px;
  display: inline-block;
}

.main-nav a:link {
  text-decoration: none;
  color: #6b747b;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.nav-link {
  margin-right: 20px;
}

.fa-apple {
  font-size: 20px;
  color: #594cda;
  transition: all 0.2s ease;
  margin-right: 5px;
}

.fa-android {
  font-size: 18px;
  color: #594cda;
  transition: all 0.2s ease;
}

.fa-apple:hover,
.fa-apple:focus,
.fa-android:hover,
.fa-android:focus,
.main-nav a:hover,
.main-nav a:focus,
.fa-sort-down:hover,
.fa-sort-down:focus {
  color: #eb427e;
}

/* dropdown menu styling */

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  color: #6b747b;
  width: 155px;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0 12px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.dropdown-menu:hover,
.dropdown-menu:focus {
  opacity: 1;
}

.dropdown-item {
  border-bottom: 1px solid #bec0c2;
  padding: 14px 0;
}

.no-border {
  border-bottom: none;
}

.fa-sort-down {
  font-size: 10px;
  color: #6b747b;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  transition: all 0.2s ease;
}

.nav-link-download {
  margin-left: 10px;
}

/* content sections */

/* home section */

.home {
  width: 100%;
}

.home-wrapper {
  display: grid;
  width: 73%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 275px 400px;
  gap: 0 70px;
  justify-content: center;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.app-download-section {
  width: 95%;
  line-height: 60px;
  color: #252c38;
  grid-area: 2 / 1;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.app-download-img {
  grid-area: 2 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-smartphone {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.banner-container {
  width: 100%;
  text-align: center;
  grid-area: 3 / span 2;
  margin-top: 250px;
}

.banner {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 42px;
  color: #252c38;
  width: 88%;
  margin: 0 auto;
}

/* buttons styling*/

.app-button-container {
  display: flex;
}

.btn {
  font-family: "Open Sans", sans-serif;
  padding: 15px 42px;
  border-radius: 32px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
}

.apple-btn {
  color: white;
  background-color: #594cda;
  border: #594cda 1px solid;
}

.android-btn {
  color: white;
  background-color: #eb427e;
  margin-left: 10px;
  border: #eb427e 1px solid;
}

.btn .fa-apple {
  color: white;
  font-size: 22px;
  margin-right: 8px;
}

.btn .fa-android {
  color: white;
  font-size: 20px;
  margin-right: 8px;
}

.apple-btn:hover,
.apple-btn:focus {
  color: #594cda;
  background-color: rgb(89, 77, 219, 0);
  border: #594cda 1px solid;
}

.apple-btn:hover > .fa-apple,
.apple-btn:focus > .fa-apple {
  color: #594cda;
}

.android-btn:hover,
.android-btn:focus {
  color: #eb427e;
  background-color: rgb(89, 77, 219, 0);
  border: #eb427e 1px solid;
}

.android-btn:hover > .fa-android,
.android-btn:focus > .fa-android {
  color: #eb427e;
}

/* features section */

.pavo-features {
  width: 100%;

}

.pavo-features-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 55px 26px;
    justify-content: center;
    width: 73%;
    margin: 0 auto;
    padding-bottom: 146px;
}

.feature-item {
  background-color: #f1f9fc;
  text-align: center;
  border-radius: 16px;
  color: #6b747b;
  padding: 50px 20px;
}

.feature-item h2 {
  font-size: 20px;
  color: #252c38;
  margin-bottom: 10px;
}

.feature-item-image {
  display: inline-block;
  width: 70px;
  height: 70px;
}

.feature-item-text {
  width: 250px;
  margin: 0 auto;
  line-height: 24px;
}

/* details section */

.details {
  width: 100%;
}

.details-wrapper {
  width: 73%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 440px 580px;
  grid-gap: 160px 90px;
  justify-content: center;
}

.details-item-1 {
  grid-area: 1 / 1;
}

.details-item-1 h2,
.details-item-2 h2,
.details-item-3 h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  color: #252c38;
  font-weight: 700;
  letter-spacing: -0.4px;
  line-height: 42px;
}

.details-item-1,
.details-item-2,
.details-item-3 {
  margin-top: 35px;
}

.details-item-text {
  font-family: "Open Sans", sans-serif;
  color: #6b747b;
  line-height: 26px;
}

.details-item-image-1 {
  grid-area: 1 / 2;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.details-item-2 {
  grid-area: 2 / 2;
  margin-left: 130px;
}

.details-item-2 ul {
  list-style: none;
  margin-left: -35px;
}

.details-item-list {
  font-family: "Open Sans", sans-serif;
  color: #6b747b;
  line-height: 36px;
}

.fa-chevron-right {
  margin-right: 8px;
  color: #594cda;
}

.details-btn {
  border: 1px solid #252c38;
  background-color: white;
  color: #252c38;
  margin-left: 12px;
}

.details-item-image-2 {
  grid-area: 2 / 1;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.details-item-3 {
  grid-area: 3 / 1;
}

.details-item-image-3 {
  grid-area: 3 / 2;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.details-numbers {
  display: flex;
  grid-area: 4 / span 2;
  justify-content: space-around;
  margin-top: -95px;
  margin-bottom: 110px;
}

.details-btn:hover,
.details-btn:focus {
  color: white;
  background-color: #252c38;
  border: #252c38 1px solid;
}

/* details numbers styling*/

.counter-item {
  font-family: "Open Sans", sans-serif;
  font-size: 60px;
  color: #252c38;
  font-weight: 700;
  margin-bottom: 0;
}

.counter-text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #6b747b;
  margin-top: 0;
  text-align: center;
}

/* users feedback slider */

.feedback-section {
  background-color: #f1f9fc;
  width: 100%;
  border: 1px solid #f1f9fc;
}

.feedback-slider {
  margin: 100px auto;
  text-align: center;
  width: 75%;
}

.feedback-persom-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.feedback-title {
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  color: #252c38;
}

.feedback-btn {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.feedback-btn > .fa-chevron-right,
.feedback-btn > .fa-chevron-left {
  color: gray;
  font-size: 40px;
  position: absolute;
}

.feedback-info {
  width: 320px;
  margin: 0 auto;
  padding-top: 15px;
  font-style: italic;
  color: #6b747b;
  line-height: 26px;
}

.accent {
  font-weight: 700;
  font-size: 18px;
  padding-top: 15px;
}

/* pricing section */

.pavo-pricing {
  background-color: white;
  background: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9)),
    url(img/pricing-background.jpg) center center no-repeat;
  background-size: cover;
  height: 98vh;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 150px;
}

.pricing-header {
  width: 100%;
  text-align: center;
  margin-top: 120px;
}

.pricing-title {
  font-family: "Open Sans", sans-serif;
  font-size: 34px;
  color: white;
  margin-bottom: 0;
}

.pricing-subtitle {
  font-family: "Open Sans", sans-serif;
  color: white;
  line-height: 26px;
  display: inline-block;
  width: 48%;
}

/* pricing cards styling*/

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px 40px;
  justify-content: center;
  width: 73%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.pricing-item {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  padding: 48px 40px 56px;
  border: #6b747b 1px solid;
  position: relative;
}

.pricing-item-header {
  color: #eb427e;
  font-size: 24px;
  font-weight: 700;
}

.pricing-item-price {
  color: #252c38;
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-item-dollarsign {
  font-size: 32px;
  font-weight: 400;
}

.pricing-item-subtitle {
  margin-top: -12px;
  color: #6b747b;
  font-size: 13px;
  padding-bottom: 15px;
}

.pricing-item-text {
  color: #6b747b;
  text-align: left;
  line-height: 28px;
}

.pricing-list {
  margin: 0;
  padding: 0;
}

.pricing-list-item {
  color: #6b747b;
  line-height: 36px;
  list-style: none;
  text-align: left;
}

.pricing-list-item > .fa-chevron-right {
  margin-right: 8px;
  color: #594cda;
  font-size: 12px;
  font-weight: bold;
}

.pricing-button-wrapper {
  position: absolute;
  right: 0;
  bottom: -1.5rem;
  left: 0;
  text-align: center;
}

.price-btn {
  font-family: "Open Sans", sans-serif;
  padding: 15px 42px;
  border-radius: 32px;
  border: 1px solid gray;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.price-btn:hover,
.price-btn:focus {
  color: #594cda;
  background-color: white;
  border: #594cda 1px solid;
}

/* download footer section*/

.download-footer {
  display: grid;
  grid-template-columns: 410px 580px;
  grid-gap: 160px 120px;
  justify-content: center;
  padding-top: 250px;
  padding-bottom: 100px;
  background: url(img/conclusion-background.jpg) center no-repeat;
  background-size: contain;
  background-color: white;
}

.download-footer-title {
  color: #252c38;
  font-size: 30px;
  line-height: 42px;
  text-align: left;
  margin-bottom: 35px;
  margin-top: -10px;
}

.download-footer-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-smartphone {
  margin: 0 auto;
}

.download-footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 90px;
}

/* video section before footer */

.footer-video {
  background-color: white;
  text-align: center;
  padding: 100px 0;
}

.product-video {
  width: 73%;
  height: auto;
}

/* footer */

.pavo-footer {
  width: 100%;
  margin: 0 auto;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(197, 234, 249));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  color: #252c38;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
}

.email-team {
  text-decoration: none;
}

.fa-facebook-f,
.fa-twitter,
.fa-pinterest-p,
.fa-instagram,
.fa-youtube {
  font-size: 24px;
  position: absolute;
}

.fa-circle {
  color: white;
  font-size: 48px;
  position: absolute;
}

.fa-circle:hover,
.fa-circle:focus {
  color: #252c38;
  transition: all 0.2s ease;
  cursor: pointer;
}

.footer-social-icons {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
}

.social-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* subscribe form */

.subscribe-form {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.subscribe-btn {
  padding: 6px 20px;
}

.email-form {
  height: 35px;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  margin-right: 10px;
  width: 168px;
}

/* copyright */

.copyright {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
}

.copyright-links-text {
  margin-right: 20px;
}

.copyright-links-text > a:link {
  text-decoration: none;
  color: #6b747b;
  font-size: 14px;
  transition: all 0.2s ease;
}

.copyright-links-text > a:hover,
.copyright-links-text > a:focus {
  color: #eb427e;
}

.copyright-company {
  color: #6b747b;
  font-size: 14px;
  margin-bottom: 20px;
}

@media screen and (max-width: 980px) {

  /* home section */

  .home-wrapper {
    width: 82%;
    display: flex;
    flex-flow: column wrap;
  }

  .app-download-section {
    width: 100%;
    line-height: 60px;
    color: #252c38;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 110px auto 160px auto;
  }

  h1 {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 56px;
    width: 110%;
  }

  .app-download-subtitle {
    width: 105%;
  }

  .app-download-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .header-smartphone {
    max-width: 100%;
    width: 78%;
    height: auto;
    margin: 0 auto;
  }

  .banner-container {
    width: 100%;
    text-align: center;
    margin-top: 125px;
  }

  .banner {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 42px;
    color: #252c38;
    width: 100%;
    margin: 0 auto;
  }

  /* navigation */

  .main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    background-color: #f1f9fc;
  }

  .nav-bar {
    display: none;
    width: 770px;
  }
  .main-nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .logo {
    width: 133px;
    max-width: 133px;
    display: inline-block;
  }

  /* features section */

  .pavo-features-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 55px 26px;
    justify-content: center;
    width: 84%;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .feature-item {
    background-color: #f1f9fc;
    text-align: center;
    border-radius: 16px;
    color: #6b747b;
    padding: 50px 10px;
  }

  .feature-item h2 {
    font-size: 20px;
    color: #252c38;
    margin-bottom: 10px;
  }

  .feature-item-image {
    display: inline-block;
    width: 70px;
    height: 70px;
  }

  .feature-item-text {
    width: 100%;
    margin: 0 auto;
    line-height: 24px;
  }

  /* details section */

  .details-wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: 50px 35px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .details-item-1 h2,
  .details-item-2 h2,
  .details-item-3 h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    color: #252c38;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 42px;
  }

  .details-item-1,
  .details-item-2,
  .details-item-3 {
    margin-top: 35px;
  }

  .details-item-1 {
    width: 82%;
    text-align: center;
    order: 1;
  }

  .details-item-text {
    font-family: "Open Sans", sans-serif;
    color: #6b747b;
    line-height: 26px;
  }

  .details-item-image-1 {
    max-width: 100%;
    width: 78%;
    height: auto;
    order: 2;
  }

  .details-item-image-2 {
    max-width: 100%;
    width: 78%;
    height: auto;
    margin-top: 100px;
    order: 3;
  }

  .details-item-2 {
    width: 82%;
    text-align: center;
    margin: 0 auto;
    order: 4;
  }

  .app-button-container {
    justify-content: center;
  }

  .details-item-2 ul {
    list-style: none;
    margin-left: -35px;
  }

  .details-item-3 {
    width: 82%;
    text-align: center;
    order: 5;
  }

  .details-item-image-3 {
    max-width:100%;
    width: 78%;
    height: auto;
    order: 6;
  }

  .details-item-list {
    font-family: "Open Sans", sans-serif;
    color: #6b747b;
    line-height: 36px;
  }

  .fa-chevron-right {
    margin-right: 8px;
    color: #594cda;
  }

  .details-btn {
    border: 1px solid #252c38;
    background-color: white;
    color: #252c38;
  }

  .details-numbers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 82%;
    margin-top: -25px;
    margin-bottom: 110px;
    order: 7;
  }

  .details-number-item {
  }

  /* details numbers */

  .counter-item {
    font-family: "Open Sans", sans-serif;
    font-size: 52px;
    color: #252c38;
    font-weight: 700;
    margin-bottom: 0;
    display: inline-block;
  }

  .counter-text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #6b747b;
    margin-top: 0;
    text-align: center;
  }

  /* users feedback slider */

  /* pricing section */

  .pavo-pricing {
    background-color: white;
    background: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9)),
      url(img/pricing-background.jpg) center center no-repeat;
    background-size: cover;
    height: 174vh;
  }

  /* pricing cards */

  .pricing-container {
    display: flex;
    flex-direction: column;
    grid-gap: 55px 40px;
    justify-content: center;
    width: 40%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  .pricing-item {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 32px;
    padding: 48px 30px 56px;
    border: #6b747b 1px solid;
    position: relative;
  }

  .pricing-subtitle {
    display: inline-block;
    font-family: "Open Sans", sans-serif;
    color: white;
    line-height: 26px;
    width: 85%;
  }

  /* download footer section*/

  .download-footer {
    display: flex;
    flex-direction: column;
    grid-gap: 160px 120px;
    justify-content: center;
    padding-top: 250px;
    padding-bottom: 50px;
    background: url(img/conclusion-background.jpg) center no-repeat;
    background-size: contain;
    background-color: white;
  }

  .download-footer-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .download-footer-title {
    color: #252c38;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: -80px;
    width: 85%;
  }

  .footer-smartphone {
    max-width: 100%;
    width: 78%;
    height: auto;
  }

  /* video section before footer */

  .footer-video {
    background-color: white;
    text-align: center;
    padding: 50px 0;
  }
}

@media screen and (max-width: 600px) {

  /* home section */

  .home-wrapper {
    width: 88%;
    display: flex;
    flex-flow: column wrap;
  }

  .app-download-section {
    width: 100%;
    line-height: 60px;
    color: #252c38;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 75px auto 85px auto;
  }

  .header-smartphone {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* details section*/

.details-item-1 {
  width: 88%;
  text-align: left;
  order: 1;
}

.details-item-2 {
  width: 88%;
  text-align: left;
  order: 4;
}

.details-item-3 {
  width: 88%;
  text-align: left;
  order: 5;
}

/* pricing section*/

.pavo-pricing {
  background-color: white;
  background: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9)),
    url(img/pricing-background.jpg) center center no-repeat;
  background-size: cover;
  height: 214vh;
}

.pricing-container {
  display: flex;
  flex-direction: column;
  grid-gap: 55px 40px;
  justify-content: center;
  width: 75%;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

/* download section */

.download-footer {
  display: flex;
  flex-direction: column;
  grid-gap: 160px 120px;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 50px;
  background: url(img/conclusion-background.jpg) center no-repeat;
      background-color: rgba(0, 0, 0, 0);
      background-size: auto;
  background-size: contain;
  background-color: white;
}

.footer-smartphone {
  max-width: 100%;
  width: 88%;
  height: auto;
}

/* copyright links*/

.copyright {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
}

.copyright-links {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-bottom: 30px;
}

.copyright-links-text {
  margin-right: auto;
  margin-left: auto;
}

}